.header-section{
    margin-top: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    border-radius: 10px;
    margin-bottom: 20px;
    position: sticky;
}

.checkout-count{
    text-decoration: none;
}


.main-section
{
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
}

.left-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.cart-card{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    padding: 10px;
    max-width: 750px;
}

.delivery-date{
    color: rgb(0, 118, 0);
    font-weight: 700;
    font-size: 19px;
    margin-top: 5px;
    margin-bottom: 22px;
}

.container, .items-details{
    display: flex;
}



.cart-product-image{
    max-width: 150px;
    border-right: 1px solid grey;
    margin-right: 20px;
    padding: 10px;
}


.cart-product-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 10px;
    width: 300px;
}

.cart-product-quantity-container{
    display: flex;
    gap: 6px;
    margin-right: 5px;
}

.item-quantity{
    margin: auto 0;
    font-size: 16px;
}

.product-update-buttons{
    display: flex;
    gap: 5px;
    width: 80px; 
}

.update-css{
    padding: 5px 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background-image: linear-gradient(to right, #ff7e5f, #feb47b);
    color: white;
    font-weight: bold;
    opacity: initial;
}


.delivery-option{
    display: grid;
    grid-template-columns: 20px 1fr;
    column-gap: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.delivery-option-date{
    font-family: Roboto;
    font-size: 18px;
    color: rgb(0, 118, 0);
}


.message{
    font-size: 18px;
    font-weight: 700;
}

/* right side order summary*/

.right-side{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    padding: 16px;
    margin-left: 20px;
    max-width: 350px;
    max-height: 300px;
    border-radius: 10px;
    position: fixed;
    right: 30px;
}

.payment-summary-container{
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 70px;
    column-gap: 70px;
    row-gap: 16px;
    border-bottom: 1px solid gray;
    padding: 10px;
}



.num2 , .num4 , .num6 , .num8 {
    width: 100%;
    text-align: end;
}

.num4{
    border-bottom: 1px solid gray;
}


.total-summary{
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 10px;
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
}

.order-button-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.place-order-button{
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    color: white;
    font-weight: bold;
    padding: 10px 32px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: opacity 0.5s ease , padding 0.5s ease;
}

.place-order-button:hover{
    opacity: 0.9;
    padding: 10px 36px;
}


/* extra stuff */

.update-save-link-invis{
    opacity: 0;
}

.mini-qty-box{
    width: 16px;
    padding: 2px;
    outline: none;
}


.update-save-link-visible{
    opacity: 1;
}

.save-btn{
    margin: auto 0;
    cursor: pointer;
    transition: text-decoration 0.16s ease;
    color: #ff7e5f;
    font-weight: bold;
    font-family: Roboto;
}



.save-btn:hover{
    text-decoration: underline;
}

